<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangsd.web.dao.BillaccountMapper" >
  <resultMap id="BaseResultMap" type="com.wangsd.web.model.Billaccount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="housing_id" property="housingId" jdbcType="INTEGER" />
    <result column="roominfo_id" property="roominfoId" jdbcType="INTEGER" />
    <result column="cost_type" property="costType" jdbcType="INTEGER" />
    <result column="bill_entry_amount" property="billEntryAmount" jdbcType="DOUBLE" />
    <result column="acct_period" property="acctPeriod" jdbcType="VARCHAR" />
    <result column="release_day" property="releaseDay" jdbcType="VARCHAR" />
    <result column="deadline" property="deadline" jdbcType="VARCHAR" />
    <result column="relate_id" property="relateId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="payDate" property="paydate" jdbcType="TIMESTAMP" />
    <result column="payType" property="paytype" jdbcType="INTEGER" />
    <result column="payStatus" property="paystatus" jdbcType="BIT" />
    <result column="deleteStatus" property="deletestatus" jdbcType="BIT" />
    <result column="alipay_trade_no" property="alipayTradeNo" jdbcType="VARCHAR" />
    <result column="weixin_trade_no" property="weixinTradeNo" jdbcType="VARCHAR" />
    <result column="printStatus" property="printstatus" jdbcType="BIT" />
    <result column="ticketStatus" property="ticketstatus" jdbcType="INTEGER" />
    <result column="buyer_user_id" property="buyerUserId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, housing_id, roominfo_id, cost_type, bill_entry_amount, acct_period, release_day, 
    deadline, relate_id, status, payDate, payType, payStatus, deleteStatus, alipay_trade_no, 
    weixin_trade_no, printStatus, ticketStatus, buyer_user_id, remark, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wangsd.web.model.BillaccountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from billaccount
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from billaccount
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from billaccount
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wangsd.web.model.BillaccountExample" >
    delete from billaccount
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wangsd.web.model.Billaccount" >
    insert into billaccount (id, housing_id, roominfo_id, 
      cost_type, bill_entry_amount, acct_period, 
      release_day, deadline, relate_id, 
      status, payDate, payType, 
      payStatus, deleteStatus, alipay_trade_no, 
      weixin_trade_no, printStatus, ticketStatus, 
      buyer_user_id, remark, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{housingId,jdbcType=INTEGER}, #{roominfoId,jdbcType=INTEGER}, 
      #{costType,jdbcType=INTEGER}, #{billEntryAmount,jdbcType=DOUBLE}, #{acctPeriod,jdbcType=VARCHAR}, 
      #{releaseDay,jdbcType=VARCHAR}, #{deadline,jdbcType=VARCHAR}, #{relateId,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{paydate,jdbcType=TIMESTAMP}, #{paytype,jdbcType=INTEGER}, 
      #{paystatus,jdbcType=BIT}, #{deletestatus,jdbcType=BIT}, #{alipayTradeNo,jdbcType=VARCHAR}, 
      #{weixinTradeNo,jdbcType=VARCHAR}, #{printstatus,jdbcType=BIT}, #{ticketstatus,jdbcType=INTEGER}, 
      #{buyerUserId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangsd.web.model.Billaccount" >
    insert into billaccount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="housingId != null" >
        housing_id,
      </if>
      <if test="roominfoId != null" >
        roominfo_id,
      </if>
      <if test="costType != null" >
        cost_type,
      </if>
      <if test="billEntryAmount != null" >
        bill_entry_amount,
      </if>
      <if test="acctPeriod != null" >
        acct_period,
      </if>
      <if test="releaseDay != null" >
        release_day,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="relateId != null" >
        relate_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="paydate != null" >
        payDate,
      </if>
      <if test="paytype != null" >
        payType,
      </if>
      <if test="paystatus != null" >
        payStatus,
      </if>
      <if test="deletestatus != null" >
        deleteStatus,
      </if>
      <if test="alipayTradeNo != null" >
        alipay_trade_no,
      </if>
      <if test="weixinTradeNo != null" >
        weixin_trade_no,
      </if>
      <if test="printstatus != null" >
        printStatus,
      </if>
      <if test="ticketstatus != null" >
        ticketStatus,
      </if>
      <if test="buyerUserId != null" >
        buyer_user_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="housingId != null" >
        #{housingId,jdbcType=INTEGER},
      </if>
      <if test="roominfoId != null" >
        #{roominfoId,jdbcType=INTEGER},
      </if>
      <if test="costType != null" >
        #{costType,jdbcType=INTEGER},
      </if>
      <if test="billEntryAmount != null" >
        #{billEntryAmount,jdbcType=DOUBLE},
      </if>
      <if test="acctPeriod != null" >
        #{acctPeriod,jdbcType=VARCHAR},
      </if>
      <if test="releaseDay != null" >
        #{releaseDay,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=VARCHAR},
      </if>
      <if test="relateId != null" >
        #{relateId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="paydate != null" >
        #{paydate,jdbcType=TIMESTAMP},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=INTEGER},
      </if>
      <if test="paystatus != null" >
        #{paystatus,jdbcType=BIT},
      </if>
      <if test="deletestatus != null" >
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="alipayTradeNo != null" >
        #{alipayTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="weixinTradeNo != null" >
        #{weixinTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="printstatus != null" >
        #{printstatus,jdbcType=BIT},
      </if>
      <if test="ticketstatus != null" >
        #{ticketstatus,jdbcType=INTEGER},
      </if>
      <if test="buyerUserId != null" >
        #{buyerUserId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wangsd.web.model.BillaccountExample" resultType="java.lang.Integer" >
    select count(*) from billaccount
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update billaccount
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.housingId != null" >
        housing_id = #{record.housingId,jdbcType=INTEGER},
      </if>
      <if test="record.roominfoId != null" >
        roominfo_id = #{record.roominfoId,jdbcType=INTEGER},
      </if>
      <if test="record.costType != null" >
        cost_type = #{record.costType,jdbcType=INTEGER},
      </if>
      <if test="record.billEntryAmount != null" >
        bill_entry_amount = #{record.billEntryAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.acctPeriod != null" >
        acct_period = #{record.acctPeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.releaseDay != null" >
        release_day = #{record.releaseDay,jdbcType=VARCHAR},
      </if>
      <if test="record.deadline != null" >
        deadline = #{record.deadline,jdbcType=VARCHAR},
      </if>
      <if test="record.relateId != null" >
        relate_id = #{record.relateId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.paydate != null" >
        payDate = #{record.paydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.paytype != null" >
        payType = #{record.paytype,jdbcType=INTEGER},
      </if>
      <if test="record.paystatus != null" >
        payStatus = #{record.paystatus,jdbcType=BIT},
      </if>
      <if test="record.deletestatus != null" >
        deleteStatus = #{record.deletestatus,jdbcType=BIT},
      </if>
      <if test="record.alipayTradeNo != null" >
        alipay_trade_no = #{record.alipayTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.weixinTradeNo != null" >
        weixin_trade_no = #{record.weixinTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.printstatus != null" >
        printStatus = #{record.printstatus,jdbcType=BIT},
      </if>
      <if test="record.ticketstatus != null" >
        ticketStatus = #{record.ticketstatus,jdbcType=INTEGER},
      </if>
      <if test="record.buyerUserId != null" >
        buyer_user_id = #{record.buyerUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update billaccount
    set id = #{record.id,jdbcType=INTEGER},
      housing_id = #{record.housingId,jdbcType=INTEGER},
      roominfo_id = #{record.roominfoId,jdbcType=INTEGER},
      cost_type = #{record.costType,jdbcType=INTEGER},
      bill_entry_amount = #{record.billEntryAmount,jdbcType=DOUBLE},
      acct_period = #{record.acctPeriod,jdbcType=VARCHAR},
      release_day = #{record.releaseDay,jdbcType=VARCHAR},
      deadline = #{record.deadline,jdbcType=VARCHAR},
      relate_id = #{record.relateId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      payDate = #{record.paydate,jdbcType=TIMESTAMP},
      payType = #{record.paytype,jdbcType=INTEGER},
      payStatus = #{record.paystatus,jdbcType=BIT},
      deleteStatus = #{record.deletestatus,jdbcType=BIT},
      alipay_trade_no = #{record.alipayTradeNo,jdbcType=VARCHAR},
      weixin_trade_no = #{record.weixinTradeNo,jdbcType=VARCHAR},
      printStatus = #{record.printstatus,jdbcType=BIT},
      ticketStatus = #{record.ticketstatus,jdbcType=INTEGER},
      buyer_user_id = #{record.buyerUserId,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangsd.web.model.Billaccount" >
    update billaccount
    <set >
      <if test="housingId != null" >
        housing_id = #{housingId,jdbcType=INTEGER},
      </if>
      <if test="roominfoId != null" >
        roominfo_id = #{roominfoId,jdbcType=INTEGER},
      </if>
      <if test="costType != null" >
        cost_type = #{costType,jdbcType=INTEGER},
      </if>
      <if test="billEntryAmount != null" >
        bill_entry_amount = #{billEntryAmount,jdbcType=DOUBLE},
      </if>
      <if test="acctPeriod != null" >
        acct_period = #{acctPeriod,jdbcType=VARCHAR},
      </if>
      <if test="releaseDay != null" >
        release_day = #{releaseDay,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=VARCHAR},
      </if>
      <if test="relateId != null" >
        relate_id = #{relateId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="paydate != null" >
        payDate = #{paydate,jdbcType=TIMESTAMP},
      </if>
      <if test="paytype != null" >
        payType = #{paytype,jdbcType=INTEGER},
      </if>
      <if test="paystatus != null" >
        payStatus = #{paystatus,jdbcType=BIT},
      </if>
      <if test="deletestatus != null" >
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="alipayTradeNo != null" >
        alipay_trade_no = #{alipayTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="weixinTradeNo != null" >
        weixin_trade_no = #{weixinTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="printstatus != null" >
        printStatus = #{printstatus,jdbcType=BIT},
      </if>
      <if test="ticketstatus != null" >
        ticketStatus = #{ticketstatus,jdbcType=INTEGER},
      </if>
      <if test="buyerUserId != null" >
        buyer_user_id = #{buyerUserId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangsd.web.model.Billaccount" >
    update billaccount
    set housing_id = #{housingId,jdbcType=INTEGER},
      roominfo_id = #{roominfoId,jdbcType=INTEGER},
      cost_type = #{costType,jdbcType=INTEGER},
      bill_entry_amount = #{billEntryAmount,jdbcType=DOUBLE},
      acct_period = #{acctPeriod,jdbcType=VARCHAR},
      release_day = #{releaseDay,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=VARCHAR},
      relate_id = #{relateId,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      payDate = #{paydate,jdbcType=TIMESTAMP},
      payType = #{paytype,jdbcType=INTEGER},
      payStatus = #{paystatus,jdbcType=BIT},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      alipay_trade_no = #{alipayTradeNo,jdbcType=VARCHAR},
      weixin_trade_no = #{weixinTradeNo,jdbcType=VARCHAR},
      printStatus = #{printstatus,jdbcType=BIT},
      ticketStatus = #{ticketstatus,jdbcType=INTEGER},
      buyer_user_id = #{buyerUserId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>